<nav class="hidden fixed-top">
    <ul class="menu">
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Videos", href="#videos" %></li>
        <li><%= link_to "Photos", href="#galery" %></li>
        <li><%= link_to "A propos", href="#a-propos" %></li>
        <li><%= link_to "Contact", new_contact_path %></li>
    </ul>
</nav>