<div class="banner d-flex align-items-center">
  <div class="container d-flex justify-content-center ">
    <%= image_tag 'logo.png', class: "logo"  %>
  </div>
  <a class='icon-scroll' href="#"></a>
</div>
<section id="Home">
<div>

</div>

</section>
<div class="maincarousel d-flex justify-content-center">
<div class="carousel">
	<figure>
		<%= image_tag 'ACCUEIL.jpeg'%>
		<%= image_tag 'BAR.jpeg'%>
		<%= image_tag 'BIBLIO.jpeg'%>
		<%= image_tag 'ENTREE.jpeg'%>
		<%= image_tag 'ESCALIER.jpeg'%>
		<%= image_tag 'GRAND SALON.jpeg'%>
		<%= image_tag 'LIVING ROOM 2.jpeg'%>
		<%= image_tag 'LANTERNON.jpeg'%>
	</figure>
	<div class="switch mt-5">
		<button class="button prev">Prev</button>
		<button class="button next">Next</button>
	</div>
</div>
</div>