
<div class="container">
   <%= simple_form_for @contact do |f| %>
    <h1 class="my-5"> Formulaire de Contact</h1>
    <div>
    <%= f.input :name, required: true, placeholder:"Nom", class:"" %>
    </div>
    
    <div>
        <%= f.input :email, required: true, placeholder:"Email", class:"" %>
    </div>
    <div>
        <%= f.input :message, as: :text, required: false, placeholder:"Message", class:"" %>
    </div>
    
        <%#= f.label :nickname %> <br>
        <%# f.text_field :nickname, hint: 'leave this field blank' %>
    

    <div>
        <%= f.submit 'Envoyer', class: "btn btn-secondary" %>
    </div>
    <%= link_to "Accueil", root_path, class:"btn btn-secondary mt-3" %>
    </div>
    <% end %>

</div>