<div class="bg-contact">
<div class="container">
    <h1 class='text-center'>CONTACT</h1>
    <p class="text-center mt-5">Si vous souhaitez me contacter, n'hésitez pas à me laisser un message soit en remplissant le formulaire ci-dessous, <br>soit par téléphone ou via mon adresse e-mail.</p>
    <p class="text-center mt-5">À l'écoute et disponible, je serai là pour satisfaire vos moindres envies vidéos/photos.</p>
    <p class="text-center">À très vite !</p>
    <div class="surf">
    <div class="row d-flex justify-content-around">
    <div class="surf-parts col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <p class="chat pb-2">Discutons un peu !</p>
    
    <p>0638922753<br>
    dividproduction@gmail.com</p>
    </div>
<div class="form col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <p class="surf-chat">Vous pouvez laisser un message ici pour toute demande !</p>
   <%= form_with model: @contact do |contact| %>
    <div>
    <%= contact.text_field :name, size: "50", required: true, placeholder:"Nom", class:"name" %>
    </div>
    
    <div>
        <%= contact.email_field :email, size: "50", required: true, placeholder:"Email", class:"email" %>
    </div>
    <div>
        <%= contact.text_area :message, size: "50x5", required: false, placeholder:"Message", class:"message" %>
    </div>
    
        <%#= f.label :nickname %> <br>
        <%# f.text_field :nickname, hint: 'leave this field blank' %>
    

    <div>
        <%= contact.submit 'Envoyer', class: "submit-btn" %>
    </div>
    <%= link_to "Accueil", root_path, class:"btn btn-light my-3" %>
    </div>
    <% end %>
    </div>
</div>
</div>
</div>
</div>